* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="text"] {
    flex: 1; /* Deixa o input ocupar todo o espaço disponível */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 0;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 10px;
    width: 100%; /* Faz a lista ocupar toda a largura disponível */
}

li {
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10p;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}
